button{
    padding-left: 500px;
}

label{
    color: white;
}
button.btn.Non-Selected-Button {
    color:white;
    background-color: blueviolet;
}
button.btn.Selected-Button {
    color: white;
    background-color: blueviolet;
}