.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 0fr); /* Adjust the number of columns as needed */
  
  }

.grid-cell {
  text-align: center;
  height:76px ;
  width: 72px;
  position: relative;
}
.level-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}
